.page_container {
  height: 100vh;
  border: 1px solid;
  padding-top: 135px;
}

.innercontainer {
  width: 350px;
  height: 550px;
  background-color: #e6e7ea;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  border-radius: 20px;
  padding: 20px;
  justify-content: center;
  gap: 20px;
}
.messagebuttonreturn {
  width: 300px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.buttonreturn {
  width: 100px;
  height: 30px;
  color: white;
  background-color: #333e63;
  border-radius: 50px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.page_title {
  width: 250px;
  word-wrap: break-word;
}

.button {
  width: 200px;
  height: 30px;
  color: white;
  background-color: #333e63;
  border-radius: 50px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .innercontainer {
    width: 700px;
  }
  .messagebuttonreturn {
    width: 600px;
  }
  .buttonreturn {
    width: 200px;
  }
}
