.footer {
  background-color: #E6E7EA;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
  z-index: 1000;
  height: 80px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-inline: 6%;
}

.text {
  font-size: 15px;
  color: #333e63;
}