.container {
  width: 100vw;
  height: 100vh;
  background-color: #f1f4fd;
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerglobal {
  display: flex;
  flex-direction: column;
  width: 85vw;
  height: 60vh;
}

.containertitle {
  width: 100%;
  height: 60px;
  /* background-color: green; */
  background-color: #d9d9d9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 5%;
  padding-right: 0.5%;
  text-align: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.contain {
  height: 100%;
  width: 65%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: red; */
}

.undercontain {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  /* background-color: white; */
}

.rightcontain {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: blueviolet; */
  width: 20%;
  gap: 10px;
}

.containercontent {
  background-color: #e6e7ea;
  width: 100%;
  height: 90%;
  overflow: auto;
}

.ligne {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 3%;
  padding-right: 2%;
  text-align: center;
  border-bottom: 1px solid #333e63;
  /* background-color: orange; */
}

.espacement {
  /* background-color: yellow; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
}

.containertotal {
  background-color: #d9d9d9;
  width: 100%;
  height: 50px;
  font-size: 16px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 10%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  color: #333e63;
}

.title {
  font-size: 15px;
  color: #333e63;
}

.text {
  font-size: 13px;
  color: #797979;
}

.button {
  width: 90px;
  height: 23px;
  color: #333e63;
  border-radius: 50px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  border: 1px solid #333e63;
  /* background-color: red; */
}

.buttonEye {
  width: 50px;
  height: 23px;
  color: #333e63;
  border-radius: 50px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  border: 1px solid #333e63;
  background-color: transparent;
}

.filter {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80%;
  width: 27%;
  /* background-color: yellow; */
}

.buttonhead {
  width: 75px;
  height: 23px;
  color: white;
  border-radius: 50px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  border: 1px solid #333e63;
  background-color: #333e63;
}

/* .input {
  all: unset;
  width: 100%;
  height: 40px;
  border-radius: 5px;
  background-color: #ffffff;
  border: 1px solid #333e63;
  padding-left: 10px;
}

.inputgroup {
  display: flex;
  flex-direction: column;
  gap: 5px;
}*/

@media screen and (min-width: 768px) {
  .container {
    width: 100vw;
    height: 100vh;
    background-color: #f1f4fd;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .containerglobal {
    display: flex;
    flex-direction: column;
    width: 85vw;
    height: 60vh;
  }

  .containertitle {
    width: 100%;
    height: 60px;
    /* background-color: green; */
    background-color: #d9d9d9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5%;
    padding-right: 0.5%;
    text-align: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  .contain {
    height: 100%;
    width: 68%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: red; */
  }

  .undercontain {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    /* background-color: white; */
  }

  .rightcontain {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: blueviolet; */
    width: 15%;
    gap: 10px;
  }

  .containercontent {
    background-color: #e6e7ea;
    width: 100%;
    height: 90%;
    overflow: auto;
  }

  .ligne {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 3%;
    padding-right: 2%;
    text-align: center;
    border-bottom: 1px solid #333e63;
    /* background-color: orange; */
  }

  .espacement {
    /* background-color: yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
  }

  .containertotal {
    background-color: #d9d9d9;
    width: 100%;
    height: 50px;
    font-size: 16px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    color: #333e63;
  }

  .title {
    font-size: 15px;
    color: #333e63;
  }

  .text {
    font-size: 13px;
    color: #797979;
  }

  .button {
    width: 90px;
    height: 23px;
    color: #333e63;
    border-radius: 50px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    border: 1px solid #333e63;
    /* background-color: red; */
  }

  .buttonEye {
    width: 50px;
    height: 23px;
    color: #333e63;
    border-radius: 50px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    border: 1px solid #333e63;
    background-color: transparent;
  }

  .filter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 80%;
    width: 27%;
    /* background-color: yellow; */
    margin-right: 2%;
  }

  .buttonhead {
    width: 75px;
    height: 23px;
    color: white;
    border-radius: 50px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    border: 1px solid #333e63;
    background-color: #333e63;
  }
}
