.container {
    display: flex;
    /* align-items: center; */
    flex-direction: column;

    padding-top: 130px;
    min-height: calc(200px + 70vh);
}

.contentWrapper {
    width: 100%;
    /* border: 1px solid; */
}

.title {
    text-align: center;
    color: #333E63;
    font-weight: 400;
    font-size: 26px;
    padding: 0 20px;
    display: inline-block;
    width: 100vw;
}

.cardContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

@media screen and (min-width: 768px) {
    .contentWrapper {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        height: 400px;
    }

    .cardContainer {
        flex-direction: row;
    }

}