.container {
  width: 100%;
  min-height: 950px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.containerProgress {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 350px;
  height: 30px;
}

.circle {
  color: #333e63;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 1px solid #333e63;
  z-index: 2;
  background-color: white;
}

.circle:nth-child(3),
.circle:nth-child(4) {
  color: rgb(173, 173, 173);
  border: 1px solid rgb(173, 173, 173);
}

.bar {
  position: absolute;
  width: 350px;
  height: 2px;
  background-color: rgb(173, 173, 173);
  top: 15px;
  z-index: 0;
}

.containerProgressText {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 360px;
  height: 30px;
  margin: 10px 10px 40px;
}

.progressText {
  font-size: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  text-align: center;
  color: #333e63;
  z-index: 2;
}

.progressText:nth-child(2),
.progressText:nth-child(3) {
  color: rgb(173, 173, 173);
}


.containerGlobal {
  border: 1px solid #333e63;
  width: 360px;
  height: 550px;
  background-color: #e6e7ea;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  border-radius: 20px;
  flex-direction: column;
  align-items: center;
}

.containerTitle {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titleBar {
  width: 80%;
  height: 90px;
  border-bottom: 1px solid #797979;
  /* border-bottom-color: #797979; */
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.title {
  font-size: 25px;
  font-weight: bold;
  color: #333e63;
  text-align: center;
  width: 100%;
}

.registerSection {
  /* border: 1px solid; */
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.label {
  font-size: 12px;
  color: #333e63;
}

.name {
  height: 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.inputName {
  all: unset;
  border: 1px solid;
  background-color: #ffffff;
  color: #797979;
  width: 250px;
  height: 30px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding-left: 5px;
}

.mailTel {
  height: 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.input {
  all: unset;
  border: 1px solid;
  background-color: #ffffff;
  color: #797979;
  width: 250px;
  height: 30px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding-left: 5px;
}

.error {
  color: red;
  font-size: 16px;
  margin-bottom: 10px;
}

.containerButton {
  /* border: 1px solid; */
  height: 80px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.button {
  width: 200px;
  height: 40px;
  color: white;
  background-color: #333e63;
  border-radius: 50px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) {

  .containerGlobal {
    width: 730px;
    height: 550px;
  }

  .titleBar {
    width: 500px;
    height: 90px;
  }

  .title {
    text-align: left;
  }

  .containerImage {
    display: block;
  }

  .containerForm {
    width: 50%;
  }

  .name {
    display: flex;
    flex-direction: row;
  }

  .inputName {
    width: 220px;
    display: flex;
    justify-content: space-between;
  }

  .registerSection {
    width: 500px;
    display: flex;
  }

  .containerProgress {
    width: 600px;
  }

  .bar {
    width: 600px;
  }

  .containerProgressText {
    width: 610px;
  }

  .input {
    width: 500px;
  }

  .containerButton {
    align-self: end;
    margin-right: 95px;
  }
}