.profile_page {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 150px 20px 0;
    min-height: 95vh;
    background-color: #545F71;
}

.profile_page>h1 {
    color: #333e63;
    font-weight: 500;
    font-size: 26px;
    padding: 0 20px;
}

.profile_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 10px;
    background-color: #E6E7EA;
    width: 300px;
    height: 300px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 2px 15px -3px, rgba(0, 0, 0, 0.04) 0px 10px 20px -2px
}

.profile_info>h2 {
    font-size: 22px;
    font-weight: 400;
    color: #333e63;
}

.profile_info>p {
    color: #333e63;
}

.profile_info div {
    margin-bottom: 10px;
}

.button {
    background-color: #6a7caa;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
}

.button:disabled {
    background-color: #c0c0c0;
    cursor: not-allowed;
}

/*  ==================  Modal ===============  */

.modal_container {
    position: absolute;
    width: 330px;
    height: 660px;
    padding: 20px 24px;
    border-radius: 20px;
    background-color: #E6E7EA;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 16%;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    gap: 25px;
}


.modal_container>p,
.update_email>p {
    color: #333e63;
    font-size: 18px;
    font-weight: 500;
}

.close_button {
    position: absolute;
    top: 22px;
    align-self: flex-end;
    border-radius: 50%;
    color: white;
    border: none;
}

.modal_icon {
    color: #6a7caa;
    transform: scale(2.5);
}

.avatar_container {
    height: 185px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-bottom: 2px solid #6a7caa;
    padding-bottom: 15px;
}

.avatar_container>p {
    color: #333e63;
    font-size: 18px;
    font-weight: 500;
}

.modal_title {
    text-align: center;
    margin: 10px;
}

.modal_title>p {
    margin: 0;
    padding: 0;
}

.select_avatar {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    align-items: center;
}

.avatar_selection {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.update_email {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    height: 170px;
    font-size: 18px;
    padding-left: 8px;
    padding-bottom: 20px;
    border-bottom: 2px solid #6a7caa;
}

.update_email>p {
    margin: 0;
    padding: 0;
}

.update_email>input,
.update_email>button {
    height: 34px;
    font-size: 16px;
    border-radius: 6px;
}

.mail_input {
    width: 260px;
    border: 0.1px solid #333e63;
    padding-left: 5px;
}

.update_email>button {
    width: 130px;
    height: 30px;
    color: white;
    background-color: #6a7caa;
    border-radius: 6px;
    border: 1px solid #6a7caa;
}

.modal_button {
    width: 130px;
    height: 35px;
    color: white;
    background-color: #6a7caa;
    border-radius: 15px;
    border: none;
}

.avatarImage {
    border-radius: 50%;
}

.avatarRadio {
    display: none;
}

/* ======= QR code colors management ========= */

.qrcode_color_container {
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.qrcode_color_container>p {
    color: #333e63;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    font-weight: 500;
    height: 35px;
    padding: 0;
    margin: 0;
}

.qrcode_colors_display {
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 36px;
    /* border: 1px solid #333e63; */
}

.qrcode_colors_display_wrapper {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100px;
}

.qrcode_colors_display_wrapper>p {
    font-size: 14px;
    color: #333e63;
    margin: 0;
    padding: 0;
}

.main_color,
.background_color {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    z-index: 2;
    overflow: hidden;
}

.qrcode_color_input {
    opacity: 0;
    z-index: 1;
}

/*  =================================  */