.container {
    width: 100vw;
    height: 100vh;
    background-color: #545F71;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

.contentWrapper {
    height: 650px;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #E6E7EA;
    border-radius: 20px;
    padding: 30px 10px;
}

.heading {
    text-align: center;
    color: #333E63;
    font-weight: 500;
    font-size: 26px;
}

.videoNode {
    width: 300px;
    height: 450px;
    border-radius: 20px;
}

.actions {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 27px;
}

.button {
    width: 75px;
    height: 50px;
    padding: 10px;
    color: white;
    background-color: #6a7caa;
    border-radius: 50px;
    border: none;
}

@media screen and (min-width: 768px) {
    .container {
        height: 110vh;
    }

    .contentWrapper {
        width: 730px;
    }

    .heading {
        width: 80%;
        border-bottom: 1px solid #333e63;
        ;
        text-align: left;
        padding-bottom: 16px;
    }

    .videoNode {
        width: 532px;
        height: 300px;
    }
}