.container {
    width: 100vw;
    height: 100vh;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

.contentWrapper {
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #E6E7EA;
    border-radius: 20px;
    padding: 10px;
}

.heading {
    text-align: center;
    color: #333E63;
    font-weight: 400;
    font-size: 26px;
}

.videoNode {
    width: 300px;
    height: 450px;
    border: 1px solid #333e63;
    border-radius: 20px;
}

.actions {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 27px;
}

.button {
    width: 75px;
    height: 50px;
    padding: 10px;
    color: white;
    background-color: #333e63;
    border-radius: 50px;
    border: none;
}

@media screen and (min-width: 768px) {
    .contentWrapper {
        width: 700px;
    }

    .videoNode {
        width: 532px;
        height: 300px;
    }
}