.container {
  width: 100%;
  min-height: 950px;
  padding-top: 135px;
}

.containerGlobal {
  position: relative;
  /* margin-top: 200px; */
  width: 350px;
  height: 550px;
  background-color: #e6e7ea;
  display: flex;

  margin: 60px auto;
  border-radius: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 36px;
}

.containerTitle {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titleBar {
  width: 80%;
  height: 90px;
  border-bottom: 1px solid #797979;
  /* border-bottom-color: #797979; */
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.title {
  font-weight: bold;
  color: #333e63;
  font-weight: 500;
  font-size: 26px;
  padding: 0 20px;
  text-align: center;
  width: 100%;
}

.containerCard {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  /* background-color: red; */
}

.card {
  width: 82%;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 2px solid #333e63; */
  border-radius: 12px;
  /* background-color: blue; */
}

.qrcode {
  width: 55%;
  height: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerButton {
  width: 80%;
  height: 80px;
  display: flex;
  justify-content: space-between;

  align-items: center;
}

.spaceInButton {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
}

.button {
  width: 80px;
  height: 80px;
  color: white;
  background-color: #333e63;
  border-radius: 15px;
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.modal_container {
  position: absolute;
  width: 330px;
  height: 300px;
  /* border: 1px solid; */
  padding: 20px;
  border-radius: 20px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  top: 5%;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.modal_icon {
  align-self: flex-end;
}

.fetch_response {
  height: 30px;
}

.modal_title {
  text-align: center;
}

.modal_content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 50%;
  width: 100%;
  align-items: center;
}

.email_input {
  width: 95%;
  height: 35px;
  font-size: 18px;
  padding-left: 8px;
  border-radius: 10px;
  border: 1px solid #333e63;
}

.modal_button {
  width: 80px;
  height: 30px;
  color: white;
  background-color: #333e63;
  border-radius: 15px;
}

.value {
  height: 100%;
  /* background-color: green; */
  width: 100%;
  padding: 0px;
}

.textinfos {
  /* background-color: yellow; */
  text-align: center;
  margin: 7px;
  flex-direction: row;
}

.textinfosText {
  width: 100%;
  height: 40px;
  overflow: hidden;
  /* background-color: green; */
}

@media screen and (min-width: 768px) {
  .container {
    margin-bottom: 100px;
  }

  .containerGlobal {
    width: 730px;
    height: 550px;
  }

  .titleBar {
    width: none;
    height: 90px;
  }

  .title {
    text-align: left;
  }

  .containerImage {
    display: block;
  }

  .containerForm {
    width: 50%;
  }

  .name {
    display: flex;
    flex-direction: row;
  }

  .inputName {
    width: 220px;
    display: flex;
    justify-content: space-between;
  }

  .registerSection {
    width: 500px;
    display: flex;
  }

  .containerProgress {
    width: 600px;
  }

  .bar {
    width: 600px;
  }

  .containerProgressText {
    width: 610px;
  }

  .input {
    width: 500px;
  }

  .card {
    width: 70%;
    height: 130px;
  }

  .containerButton {
    justify-content: center;
    gap: 30px;
  }
}
