.MMmain {
  height: 100vh;
  margin-inline: 9%;
  padding-top: 16%;
}

.body {
  background-color: rgb(213, 213, 0);
  height: 70%;
}

.bodyheader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15%;
  width: 100%;
  background-color: #9ba5b7;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.bodybody {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  /* border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px; */
  border-radius: 20px;
}

.photo {
  height: 100%;
  width: 60%;
  background-color: lightgrey;
  border-bottom-left-radius: 20px;
}

.containerconnexion {
  background-color: red;
  height: 100%;
  width: 40%;
  border-bottom-right-radius: 20px;
}

.containerinput {
  height: 50%;
  width: 100%;
  margin-top: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: blue;
}

.inputglobal {
  background: #ffffff;
  width: 100%;
  height: 100%;
  display: inline;
}

.input {
  height: 30px;
  width: 85%;
  background-color: aliceblue;
  border-radius: 7px;
}

.text {
  font-size: 13px;
}

.connexion {
  height: ;
}
